body {
  font-family: "Montserrat";
}

textarea {
  resize: none;
}

#form {
  margin-bottom: 25px;
  background   : #eee;
}

.form-control {
  border-radius: 0;
}

.personnageDiv {
  position  : relative;
  background: #BFBFBF;
  border    : 1px solid #fff;
}

.line {
  position: relative;
}

.perso1 {
  margin-left: 0;
  width      : 49%;
  background : #27ae60;
  transition : .15s;
}

.perso2 {
  margin-left: 51%;
  width      : 49%;
  background : #3498db;
  transition : .15s;
}

legend {
  border-color: #333;
}

.background img {
  max-height: 500px;
  width     : 60%;
}

.closeButton,
.closeButton:active,
.closeButton:focus,
.closeButton:hover {
  position     : absolute;
  top          : 0;
  right        : 0;
  padding      : 11px;
  border       : none;
  border-radius: 0;
  font-size    : 1.3em;
}
