body {
  font-family: "Montserrat";
  overflow-x : hidden;
}

textarea {
  resize: none;
}

#form {
  background   : #eee;
  margin-bottom: 25px;
}

.form-control {
  border-radius: 0;
}

.personnageDiv {
  background: #BFBFBF;
}

.perso1 {
  margin-left: 0;
  background : #27ae60;
  width      : 49%;
  transition : .15s;
}

.perso2 {
  margin-left: 51%;
  background : #3498db;
  width      : 49%;
  transition : .15s;
}

legend {
  border-color: #333;
}

.background img {
  width     : 60%;
  max-height: 500px;
}
